#cart {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-inline: 1.5rem;
}

#cart > h3 {
    font-size: 1.75rem;
    font-weight: 700;
    color: #c73b0f;
    justify-self: flex-start;
    align-self: flex-start;
}

#cart > img {
    width: 30%;
}

#cart > p {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--rose-400);
}
