.food-image {
    width: 150px;
    position: relative;
    border: 1px solid red;
}

.food-desc {
    border: 1px solid green;
}

.food-image > img {
    width: 100%;
    border-radius: 5px;
}

.cart-button {
    width: 100px;
    padding: 0.4rem 0.5rem;
    background-color: var(--rose-50);
    border: 0.5px solid var(--rose-500);
    border-radius: 20px;
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
}

.cart-button:hover {
    cursor: pointer;
}

.food p {
    font-family: "RedHatText-Regular";
    font-weight: 600;
    font-size: 16px;
}

.cart-button > svg {
    width: 0.9rem;
    height: 0.9rem;
}

.cart-button > p {
    color: var(--rose-900);
    font-size: 10px;
    font-weight: 550;
}

p.food-type {
    font-weight: 200;
}