.food-grid {
    width: min(100%, 60rem);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

@media (max-width: 800px) {
    .food-grid {
        grid-template-columns: 1fr;
    }
}
