.food p {
    font-family: "RedHatText-Regular";
    font-weight: 600;
    font-size: 1rem;
    color: var(--rose-900);
}

.food-image {
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
}

.food-image > img {
    width: 100%;
    border-radius: 5px;
    display: block;
}

.cart-button {
    width: 7rem;
    padding: 0.45rem 0.55rem;
    background-color: var(--rose-50);
    border: 0.5px solid var(--rose-500);
    border-radius: 20px;
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.cart-button:hover {
    cursor: pointer;
}


.cart-button > img {
    width: 0.9rem;
    height: 0.9rem;
}

.cart-button > p {
    font-weight: 550;
    font-size: 0.7rem;
}

.food-desc {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

p.food-type {
    font-weight: 200;
    font-size: 0.9rem;
}

p.price {
    color: #c73b0f;
}