.food p {
    font-family: "RedHatText-Regular";
    font-weight: 600;
    font-size: 1rem;
    color: var(--rose-900);
}

.food-image {
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
}

.food-image > picture > img {
    width: 100%;
    border-radius: 5px;
    display: block;
}

.cart-button {
    width: 60%;
    height: 2.5rem;
    padding: 1rem 0.55rem;
    background-color: var(--rose-50);
    border: 0.5px solid var(--rose-500);
    border-radius: 20px;
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.cart-button:hover {
    cursor: pointer;
}


.cart-button > img {
    width: 1.2rem;
    height: 1.2rem;
}

.cart-button > p {
    font-weight: 550;
    font-size: 0.8rem;
}

.food-desc {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

p.food-type {
    font-weight: 200;
    font-size: 0.9rem;
}

p.price {
    color: #c73b0f;
}

.cart-button#active {
    background-color: #c73b0f;
    border: none;
    display: flex;
    justify-content: space-between;
}

.cart-button#active:hover {
    cursor: default;
}

.cart-button#active img {
    width: 1.2rem;
    height: 1.2rem;
    border: 1.6px solid white;
    border-radius: 50%;
    padding: 2px;
}

.cart-button#active img:hover {
    cursor: pointer;
}

.cart-button#active p {
    color: white;
    font-size: 0.9rem;
}