.modal-item {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    row-gap: 0.3rem;
    column-gap: 0.8rem;
    align-items: center;
    padding-block: 0.9rem;
    border-bottom: 1px solid #f5f1ee;
}

.modal-item-name {
    color: var(--rose-900);
    font-weight: 600;
    font-size: 0.9rem;
}

.modal-item > img {
    height: 3rem;
    border-radius: 4px;
    grid-row: 1 / 3;
}

.modal-info {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    gap: 1.5rem;
    font-size: 0.9rem;
}

.modal-info p:first-child {
    color: #c73b0f;
    font-weight: 500;
}

.modal-info p:last-child {
    color: var(--rose-500);
    font-weight: 400;
}

.modal-item-price {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    font-weight: 650;
    color: var(--rose-900);
}
