.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    place-items: center;
    font-family: "RedHatText-Regular";
}

.modal-content {
    width: 30rem;
    background-color: white;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 0.5rem;
    outline: none;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.modal-content > img {
    width: 2.5rem;
}

#confirmed-message {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#confirmed-message > h1 {
    color: var(--rose-900);
}

#confirmed-message > p {
    color: var(--rose-500);
    font-weight: 400;
    font-size: 0.8rem;
}

.modal-items {
    background-color: var(--rose-50);
    padding-top: 0.3rem;
    padding-inline: 1.5rem;
}

#total-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}

#total-info p:first-child {
    font-size: 0.9rem;
}

#total-info p:last-child {
    font-weight: 700;
    font-size: 1.5rem;
}

#new-order-button {
    color: white;
    background-color: #c73b0f;
    font-weight: 450;
    font-family: "RedHatText-Regular";
    padding-block: 1rem;
    border: none;
    border-radius: 2rem;
}

#new-order-button:hover {
    cursor: pointer;
}
