* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "RedHatText-Regular";
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--rose-900);
}

.food-items {
  width: clamp(40rem, 54%, 70rem);
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}